{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <div class="form-group">
            <table class="table table-hoverable">
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
                {% for transaction in my_history %}
                    <tr>
                        <td>{{transaction["company_symbol"]}}</td>
                        <td>{{transaction["share_amount"]}}</td>
                        <td>{{transaction["share_price"]}}</td>
                        <td>{{transaction["time_bought"]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
{% endblock %}
