{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="formid">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id = "username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm" type="password">
        </div>
        <button class="btn btn-primary" name = "submit" type="submit">Register</button>
    </form>
    <script>
        // check if username is available


        var formvar = document.getElementById("formid");
        formvar.addEventListener("submit", function(prdef) {

            // prevent default action
            prdef.preventDefault();
            $.get('/check?username=' + $("#username").val(), function(check) {

                // if username is available
                if (check == true){
                    formvar.submit();
                }

                // alert and reset when username is not available
                else{
                    document.getElementById('formid').reset();
                    alert("This username is already in use");
                }
            });
        });
    </script>
{% endblock %}