nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

header
{
    font-family: "Gill Sans", sans-serif;
    color: white;
}

body
{
   background-image: url("Azur Lane.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.hero-text
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1
{
    font-size: 55px;
    font-weight: bold;
    text-shadow: 0px 10px 5px indigo;
    color: white;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

table
{
    margin-top: 40px;
}

#alertoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#alertbox {
    display: none;
    position: fixed;
    background: #000;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
}

#alertbox > div { background: #FFF; margin: 8px; }
#alertbox > div > #alertboxhead { background: #666; font-size: 19px; padding: 10px; color: #CCC; }
#alertbox > div > #alertboxbody { background: #333; padding: 20px; color: #FFF; }
#alertbox > div > #alertboxfoot { background: #666; padding: 10px; text-align: right; }