{% extends "layout.html" %}

{% block title %}
    Antwoord
{% endblock %}

{% block main %}
<h2> {{titel}} </h2>
<form action="/vul_in/{{quiz_id}}" method="post">
{% for vraag in quizvragen %}
<div class="container">
  <div class="row justify-content-center">
  <div class="card bg-light mb-3" style="width: 25rem;">
    <img class="card-img-top" src="{{vraag['filename']}}" alt="{{vraag['filename']}}">
    <div class="card-body">
      <div class="form-group">
        {{vraag['question']}}
      </div>
    </div>
    {% for antwoord in antwoorden %}
      {% if antwoord['question_id'] == vraag['question_id'] %}
        {% if antwoord["status"] == 1 %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item form group">
            {{antwoord['answer']}}
          </li>
        </ul>
        {% endif %}
        {% if antwoord["status"] == 2 %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item form group">
            &#10060; <b>{{antwoord['answer']}}</b>
          </li>
        </ul>
        {% endif %}
        {% if antwoord["status"] == 3 %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item form group">
            &#9989; {{antwoord['answer']}}
          </li>
        </ul>
        {% endif %}
        {% if antwoord["status"] == 4 %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item form group">
            &#9989; <b>{{antwoord['answer']}}</b>
          </li>
        </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>
{% endfor %}

{% endblock %}