{% extends "layout.html" %}

{% block title %}
    Gallerij
{% endblock %}

{% block main %}

<h2> <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:60px;height:60px;filter: invert(100%);"> MIJN GALLERIJ </h2>

<div class="row">

{% for foto in fotolijst %}
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{{foto}}">
        <img src="{{foto}}" alt="{{foto}}" style="width:100%">
      </a>
    </div>
  </div>
{% endfor %}
</div>


{% endblock %}