{% extends "layout.html" %}

{% block title %}
    Gallerij
{% endblock %}

{% block main %}


<div class="container">

<h2> <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:60px;height:60px;filter: invert(100%);"> MIJN GALLERIJ </h2>
<h style=size:1em;color:grey;font-weight:500;>Bekijk hier al jouw PicturAsk foto's!</h>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
  {% for foto in fotolijsten %}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img img-responsive img-thumbnail" src="{{foto}}" alt="", style="width: 280px; height: 230px;">
      </a>
    </div>
  {% endfor %}

  </div>

</div>



{% endblock %}