{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="hero-text">
        <h1><img src="/static/IMG_3385.PNG" style="height:200px;width:800px;"/></h1>
        <p>Wie van jouw vrienden kent jou het best?</p>
        <a href="/login"><button class="btn btn-primary">Log in</button></a>
        <a href="/register"><button class="btn btn-primary"> Maak account</button></a>
        <a href="/zoek_quiz"><button class="btn btn-primary"> Zoek quiz</button></a>
    </div>
{% endblock %}




