{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form action="/index" method="post">
        <div class="form-group">
            <table class="table table-hoverable">
                <h1>PARTICIPANTEN</h1>
                <tr>
                    <th>Name</th>
                    <th>Quiz</th>
                    <th>Score</th>
                    <th>Time</th>
                </tr>
                {% for part in participants_list %}
                    <tr>
                        <td>{{part["name"]}}</td>
                        <td>{{part["quizname"]}}</td>
                        <td>{{part["score"]}}</td>
                        <td>{{part["time"]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
{% endblock %}