{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form action="/index" method="post">
        <div class="form-group">
            <table class="table table-hoverable">
                {% if top_participanten %}
                <h2>TOP 5</h2>
                <tr>
                    <th>Naam</th>
                    <th>Quiz</th>
                    <th>Score</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                {% for participant in top_participanten %}
                    <tr>
                        <td>{{participant["name"]}}</td>
                        <td>{{participant["quizname"]}}</td>
                        <td>{{participant["score"]}}</td>
                        <td>{{participant["time"]}}</td>
                        {% if participant["comment"] == "" %}
                            <td><i><font color=#D1D1D1>Geen Opmerking</font></i></td>
                        {% else%}
                            <td>{{participant["comment"]}}</td>
                        {% endif %}
                        <td> <button type="button" class="btn login" style=width:160px; onclick="window.location.href='/antwoord/{{participant['participant_id']}}'">Zie Antwoorden</button></td>
                    </tr>
                {% endfor %}
            </table>
            <table class="table table-hoverable">
                <h2>ALLE PARTICIPANTEN</h2>
                <tr>
                    <th>Naam</th>
                    <th>Quiz</th>
                    <th>Score</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                {% for participant in participanten_lijst %}
                    <tr>
                        <td>{{participant["name"]}}</td>
                        <td>{{participant["quizname"]}}</td>
                        <td>{{participant["score"]}}</td>
                        <td>{{participant["time"]}}</td>
                        {% if participant["comment"] == "" %}
                            <td><i><font color=#D1D1D1>Geen Opmerking</font></i></td>
                        {% else%}
                            <td>{{participant["comment"]}}</td>
                        {% endif %}
                        <td> <button type="button" class="btn login" style=width:160px; onclick="window.location.href='/antwoord/{{participant['participant_id']}}'">Zie Antwoorden</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
    {% else %}
        <br><br><br><br><h2>Je hebt nog geen participanten</h2><br>
        <button type="button" class="btn login" style=width:160px; onclick="window.location.href='/maak_quiz'">MAAK QUIZ</button></td>
    {% endif %}
{% endblock %}