<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>PicturAsk: {% block title %}{% endblock %}</title>

    </head>

    <body onload="load()">

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="nav-item" href="/"><img src="/static/IMG_3385.PNG" style="height:50px;width:200px;filter:invert(100%);"/></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <p></p>
                        <button1 style="margin:8px;" class="nav-item"><a class="nav-link" style=color:white; href="/mijn_quizzes">MIJN QUIZZEN</a></button1>
                        <button2 style="margin:8px;" class="nav-item"><a class="nav-link" style=color:white;  href="/maak_quiz">MAAK EEN QUIZ</a></button2>
                        <button1 style="margin:8px;" class="nav-item"><a class="nav-link" style=color:white; href="/gallerij">MIJN GALLERIJ</a></button2>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/mijn_account">MIJN ACCOUNT</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">LOG UIT</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">MAAK ACCOUNT</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">LOG IN</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <div id="alertoverlay"></div>
        <div id="alertbox">
            <div>
                <div id="alertboxhead"></div>
                <div id="alertboxbody"></div>
                <div id="alertboxfoot"></div>
            </div>
        </div>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>
    </body>

    <script>

        // deze functie roept een zelf gemaakte alert aan
        function CustomAlert() {

            // render laat alert zien en maakt pagina onbruiker
            this.render = function(message) {
                //
                var winW = window.innerWidth;
                var winH = window.innerHeight;
                var alertoverlay = document.getElementById("alertoverlay");
                var alertbox = document.getElementById("alertbox");

                // plek van de alert
                alertoverlay.style.display = "block";
                alertoverlay.style.height = winH + "px";
                alertbox.style.left = (winW / 2) - (550 / 2)+ "px";
                alertbox.style.top = "100px";
                alertbox.style.display = "block";

                // tekst van de alert
                document.getElementById("alertboxhead").innerHTML = '<h2 style=color:white;>"Foutje! Kan gebeuren"</h2>';
                document.getElementById("alertboxbody").innerHTML = message;
                document.getElementById("alertboxfoot").innerHTML = '<button class="btn resultaten" onclick="Alert.ok()"> OK </button>';
            };

            // waneer gebruiker ok button klikt kan de user de pagina weer gebruiken
            this.ok = function() {
                document.getElementById("alertoverlay").style.display = "none";
                document.getElementById("alertbox").style.display = "none";
            };

        }
        var Alert = new CustomAlert();
    </script>
</html>
