<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col d-flex p-2">
            <form action="/login" method="post" id="quiz_zoek" class="slogan">
                <h3 class="homepage"> Een foto zegt niet alleen meer dan duizend woorden, <br> een foto kan ook meer dan duizend vragen stellen! <br><br> </h3>
                    <input autocomplete="off" autofocus class="inlog" style=width:40%; name="quiz_zoek_input" placeholder="Zoek een quiz via Quiz Code" type="text" id="quiz_zoek_input">
                <p id="quiz_zoek_missing"></p>
                <button class="login" style=width:40%; type="submit">Start Quiz</button>
            </form>
        </div>
        <div class="col-md-auto">
            <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:250px;height:250px;filter:invert(100%);">
            <h2>Login</h2>
            <hr class="mt-2 mb-5">
            <form action="/login" method="post" id="login">
                <div class="form-group">
                    <input style="width: 200px;" autocomplete="off" autofocus class="inlog" name="gebruikersnaam" placeholder="Gebruikersnaam" type="text" id="username">
                </div>
                <p id="user_name"></p>
                <div class="form-group">
                    <input style="width: 200px;" autocomplete class="inlog" name="wachtwoord" placeholder="Wachtwoord" type="password" id="password">
                </div>
                <p id="pass_word"></p>
                <button class="login" type="submit">Log In</button>
            </form>
            <font size="2">Nog geen account? <br>Maak <a href="/register">hier</a> een account aan!</font>
            <div id="alertoverlay"></div>
            <div id="alertbox">
                <div>
                    <div id="alertboxhead"></div>
                    <div id="alertboxbody"></div>
                    <div id="alertboxfoot"></div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script>
        document.getElementById("login").addEventListener("submit", function(event) {
            event.preventDefault();

             if (!username.value || !password.value) {

                if (!username.value) {
                    document.getElementById("username").style.borderColor = "red";
                    document.getElementById("user_name").innerHTML = "Vul een gebruikersnaam in";
                    }
                else {
                    document.getElementById("username").style.borderColor = "green";
                    document.getElementById("username").innerHTML = "";
                }

                if (!password.value) {
                    document.getElementById("password").style.borderColor = "red";
                    document.getElementById("pass_word").innerHTML = "Vul een wachtwoord in";
                }
                else {
                    document.getElementById("password").style.borderColor = "green";
                    document.getElementById("pass_word").innerHTML = "";
                }
                return false;
             }
             else {
                $.get("/logincheck?gebruikersnaam=" + username.value + "&wachtwoord=" + password.value, function(data) {
                    if (data == false) {
                        Alert.render("Gebruikersnaam/wachtwoord incorrect");
                    }
                    else {
                        $("#login").submit();
                    }
                });
            }
        });
    </script>

    <script>
        document.getElementById("quiz_zoek").addEventListener("submit", function(event) {
            event.preventDefault();


             if (!quiz_zoek_input.value) {

                document.getElementById("quiz_zoek_input").style.borderColor = "red";
                document.getElementById("quiz_zoek_missing").innerHTML = "Geef de code van een quiz";

                }

             else {
                $.get("/quizcheck/" + quiz_zoek_input.value, function(data) {

                    if (data == false) {
                        Alert.render("Die quiz bestaat niet");
                    }
                    else {
                        $("#quiz_zoek").submit();
                    }
                });
            }
        });
    </script>
{% endblock %}
