<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <body>
        <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:250px;height:250px;">
    <h2>Login</h2>
    <form action="/login" method="post" id="login">
        <div class="form-group">
            <input autocomplete="off" autofocus class="inlog" name="username" placeholder="Username" type="text" id="username">
        </div>
        <p id="user_name"></p>
        <div class="form-group">
            <input autocomplete class="inlog" name="password" placeholder="Password" type="password" id="password">
        </div>
        <p id="pass_word"></p>
        <button class="login" type="submit">Log In</button>
    </form>
    <form action="/register">
    <h>Nog geen account? Klik <form action="/register.html"><button class="footer" type="submit">hier</button></form> om een account aan te maken</h>
    </form>
    </body>
    <div id="alertoverlay"></div>
    <div id="alertbox">
        <div>
            <div id="alertboxhead"></div>
            <div id="alertboxbody"></div>
            <div id="alertboxfoot"></div>
        </div>
    </div>

    <script>
        document.getElementById("login").addEventListener("submit", function(event) {
            event.preventDefault();

             if (!username.value || !password.value) {

                if (!username.value) {
                    document.getElementById("username").style.borderColor = "red";
                    document.getElementById("user_name").innerHTML = "Please fill in your username";
                    }
                else {
                    document.getElementById("username").style.borderColor = "green";
                    document.getElementById("username").innerHTML = "";
                }

                if (!password.value) {
                    document.getElementById("password").style.borderColor = "red";
                    document.getElementById("pass_word").innerHTML = "Please fill in your password";
                }
                else {
                    document.getElementById("password").style.borderColor = "green";
                    document.getElementById("pass_word").innerHTML = "";
                }
                return false;
             }
             else {
                $.get("/logincheck?username=" + username.value + "&password=" + password.value, function(data) {
                    if (data == false) {
                        Alert.render("username and/or password incorrect");
                    }
                    else {
                        $("#login").submit();
                    }
                });
            }
        });
    </script>
{% endblock %}
