{% extends "layout.html" %}

{% block title %}
    Maak quizzes
{% endblock %}

{% block main %}
    <h2> <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:60px;height:60px;filter: invert(100%);"> MAAK QUIZ </h2>
    <hr class="mt-2 mb-5">
    <p></p>
    <p></p>
    <form action="/maak_quiz" method="post" onsubmit="return check()">
        <div class="form-group">
            <input autocomplete="off" autofocus class="voeg" style=width:33rem;margin-bottom:-10px;max-width:95%; name="quiz_titel" id="quiz_titel" placeholder="Quiz titel" type="text">
            <p id="geen_titel"></p>
            <input autocomplete="off" autofocus class="voeg" style=width:33rem;max-width:95%; name="zoekwoord" placeholder="Voeg een gif toe (optioneel)" type="text">
            <input autocomplete="off" autofocus class="voeg" style=width:33rem;max-width:95%; name="dankwoord" placeholder="Voeg een dankwoord toe (optioneel)" type="text">
        </div>
        <button class="btn login" style=width:33rem;max-width:95%; type="submit">Voeg vragen toe</button>
    </form>

    <script>

    function check() {
        if (!document.getElementById("quiz_titel").value) {
            document.getElementById("quiz_titel").style.borderColor = "red";
            document.getElementById("geen_titel").innerHTML = "vul een titel in";
            Alert.render("Geef een titel aan je quiz");
        return false;
        }
    }
    </script>
{% endblock %}

