{% extends "layout.html" %}

{% block title %}
    Maak quizzes
{% endblock %}

{% block main %}
    <h1> MAAK QUIZ </h1>
    <p></p>
    <p></p>
    <form action="/maak_quiz" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="quiz_titel" placeholder="Quiz titel" type="text">
            <input autocomplete="off" autofocus class="form-control" name="zoekwoord" placeholder="Voeg een gif toe" type="text">
        </div>
        <button class="btn btn-btn-outline-success" type="submit">Voeg vragen toe</button>
    </form>
{% endblock %}

