{% extends "layout.html" %}

{% block title %}
    Mijn quizzes
{% endblock %}

{% block main %}

<h2> <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:60px;height:60px;filter:invert(100%);"> MIJN QUIZZEN </h2>
<hr class="mt-2 mb-5">
{% if quizes %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Quiznaam</th>
        <th scope="col">Quiz Code</th>
        <th scope="col">Quiz Invullen</th>
        <th scope="col">Quiz Delen</th>
        <th scope="col">Resultaten</th>
        <th scope="col">Verwijder Quiz</th>
      </tr>
    </thead>
    <tbody>
      {% for quiz in quizes %}
        <tr>
          <td><img src="{{quiz['gif']}}" class="rounded-circle" style="width:100px; height:100px;"></td>
          <td>{{quiz['quiz_titel']}}</td>
          <td>{{quiz['quiz_id']}}</td>
          <td> <button class="link" onclick="window.location.href='/vul_in/{{quiz['quiz_id']}}'">Vul in</button></td>
          <td> <button class="link" onclick="window.location.href='whatsapp://send?text=http://1fc4e366-4130-443e-a19c-fb0c5b952919-ide.cs50.xyz/vul_in/{{quiz['quiz_id']}}'" data-action="share/whatsapp/share">Deel via Whatsapp</a></td>
          <td> <button class="resultaten" onclick="window.location.href='/results/{{quiz['quiz_id']}}'">Zie resultaten</button></td>
          <td> <button class="verwijder" onclick="window.location.href='{{'/verwijder_quiz?quiz_id=%s'%quiz['quiz_id']}}'">-</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
      <br><br><br><br><h2>Je hebt nog geen quizzen</h2><br>
      <button type="button" class="btn login" style=width:160px; onclick="window.location.href='/maak_quiz'">MAAK QUIZ</button></td>
  {% endif %}


  <script>
  function copy() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }
</script>

{% endblock %}