{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="register">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id = "username" type="text">
        </div>
        <p id="user_name"></p>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" id="password">
        </div>
        <p id="pass_word"></p>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm" type="password" id="confirmation">
        </div>
        <p id="confirm"></p>
        <button class="btn btn-primary" name = "submit" type="submit">Register</button>
    </form>

    <script>

        var username = document.querySelector('input[id = "username"]');
        var form = document.getElementById("register").addEventListener("submit", function(event) {
                    revent.preventDefault();

            $.get("/check?username=" + username.value, function(data) {
                if (data == false){
                    alert("username already taken");
                }
                else {
                    form.submit();
                }
            });
        });
    </script>

{% endblock %}