{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <img class="card-img-top" src="/static/IMG_3383.PNG" alt="Card image cap" style="width:250px;height:250px;filter:invert(100%);">
    <h2> Maak account aan </h2>
    <hr class="mt-2 mb-5">
    <form action="/register" method="post" id="register">
        <div class="form-group">
            <input autocomplete="off" autofocus class="inlog" name="gebruikersnaam" placeholder="Gebruikersnaam" id = "username" type="text">
        </div>
        <p id="user_name"></p>
        <div class="form-group">
            <input class="inlog" name="wachtwoord" placeholder="Wachtwoord" type="password" id="password">
        </div>
        <p id="pass_word"></p>
        <div class="form-group">
            <input class="inlog" name="confirmation" placeholder="Bevestig wachtwoord" type="password" id="confirmation">
        </div>
        <p id="confirm"></p>
        <button class="login" name = "submit1" type="submit">Maak account aan</button>
    </form>
    <p></p>
    <h>Heeft u al een account? Klik <a href="/login">hier</a> om in te loggen</h>
    </form>
    <script>

        document.getElementById("register").addEventListener("submit", function(event) {
            event.preventDefault();

            // checkt of een van de input velden niet is ingevuld
            if (!username.value || !password.value || !confirmation.value) {

                // checkt of username niet is ingevuld
                if (!username.value) {
                    document.getElementById("username").style.borderColor = "red";
                    document.getElementById("user_name").innerHTML = "Vul een gebruikersnaam in";
                }
                else {
                    document.getElementById("username").style.borderColor = "green";
                    document.getElementById("user_name").innerHTML = "";
                }

                // checkt of password niet is ingevuld
                if (!password.value) {
                    document.getElementById("password").style.borderColor = "red";
                    document.getElementById("pass_word").innerHTML = "Vul een wachtwoord in";
                }
                else {
                    document.getElementById("password").style.borderColor = "green";
                    document.getElementById("pass_word").innerHTML = "";
                }

                // checkt of password confirmatie niet is ingevuld
                if (!confirmation.value) {
                    document.getElementById("confirmation").style.borderColor = "red";
                    document.getElementById("confirm").innerHTML = "Bevestig wachtwoord";
                }
                else {
                    document.getElementById("confirmation").style.borderColor = "green";
                    document.getElementById("confirm").innerHTML = "";
                }
                return false;
            }

            // checkt of password en password confirmatie gelijk zijn
            else if (password.value != confirmation.value) {
                Alert.render("Wachtwoorden komen niet overeen");
                return false;
            }
            else {

                // haalt data op van server
                $.get("/check?username=" + username.value, function(data) {

                    // als data false is alert gebruiker
                    if (data == false){
                        Alert.render("Gebruikersnaam is al genomen");
                    }

                    // submit register
                    else {
                        $("#register").submit();
                    }
                });
            }
        });
    </script>

{% endblock %}