{% extends "layout.html" %}

{% block title %}
    Verander wachtwoord
{% endblock %}

{% block main %}
<form action="/verander_wachtwoord" method="post" id="wachtwoord">
    <div class="form-group">
            <input class="inlog" name="nieuw" placeholder="Nieuw wachtwoord" type="password" id="nieuw_id">
        </div>
        <p id="leeg1"></p>
        <div class="form-group">
            <input class="inlog" name="bevestig" placeholder="Bevestig wachtwoord" type="password" id="bevestig_id">
        </div>
        <p id="leeg2"></p>
        <p id="niet_hetzelfde"></p>
        <button class="login" name = "verander" type="submit">Verander</button>
    </form>
</form>

<script>
        document.getElementById("wachtwoord").addEventListener("submit", function(event) {
            event.preventDefault();

            // checkt of nieuwe wachtwoord is ingevuld
            if (!nieuw_id.value) {
                document.getElementById("nieuw_id").style.borderColor = "red";
                document.getElementById("leeg1").innerHTML = "Vul je nieuwe wachtwoord in";
            }

            // checkt of nieuwe wachtwoord bevestiging is ingevuld
            else if (!bevestig_id.value) {
                document.getElementById("bevestig_id").style.borderColor = "red";
                document.getElementById("leeg2").innerHTML = "Bevestig je nieuwe wachtwoord";
                }

            // checkt of nieuwe wachtwoord en de bevestiging gelijk zijn
            else if (nieuw_id.value != bevestig_id.value) {
                document.getElementById("nieuw_id").style.borderColor = "red";
                document.getElementById("bevestig_id").style.borderColor = "red";
                document.getElementById("niet_hetzelfde").innerHTML = "De 2 velden komen niet overeen";
            }

            // submit nieuwe wachtwoord
            else {
                $("#wachtwoord").submit();
            }
        });
    </script>

{% endblock %}