{% extends "layout.html" %}

{% block title %}
    Voeg vraag toe
{% endblock %}

{% block main %}
<form action="/voeg_vraag_toe" method="post" enctype=multipart/form-data>

<img id="output_image"/>
 <br>
 <br>
<label class="custom-file-upload">
  <input type=file name=file accept="image/*" onchange="preview_image(event)"/>
   Klik om een foto toe te voegen
</label>

<form action="/voeg_vraag_toe" method="post" enctype=multipart/form-data>
    <input type=file name=file>
      <div class="form-group">
            <input autocomplete="off" autofocus class="voeg" style=width:48%;color:grey; name="question" placeholder="Vraag" type="text">
    </div>
    <ul class="list-group list-group-flush" id="voegToe">
      <li class="list-group-item form group" id="group1">
        <input autocomplete="off" class="voeg" style=background-color:#B4F8C8;color:grey; name="answer1" id="answer1" placeholder="Antwoord 1 | Correct" type="text"/>
      </li>
      <li class="list-group-item form group" id="group2">
        <input autocomplete="off" class="voeg" style=background-color:#FBE7C6;color:grey; name="answer2" id="answer2" placeholder="Antwoord 2" type="text"/>
        <input class="verwijder" type="button" value="-" onclick="weg()" style="display: none;"/>
      </li>
      <li class="list-group-item form group" id="group3">
        <input autocomplete="off" class="voeg" style=margin-left:63px;background-color:#FBE7C6;color:grey; name="answer3" id="answer3" placeholder="Antwoord 3" type="text"/>
        <button class="verwijder" type="button" style=margin-left:10px; onclick="weg()">-</button>
      </li>
      <li class="list-group-item form group" id="group4">
        <input autocomplete="off" class="voeg" style=margin-left:63px;background-color:#FBE7C6;color:grey; name="answer4" id="answer4" placeholder="Antwoord 4" type="text"/>
        <button class="verwijder" type="button" style=margin-left:10px; onclick="weg()">-</button>
      </li>
    </ul>
  <button class="verwijder" style=background-color:#1DC690;border-color:#1DC690;  type="button" id="add">+</button>
  <div class="card-body">
    <input type="number" name="getal" id="getal" value="4" min="2" max="8" style="display: none"/>
    <button class="vraag-toevoegen" style=width:25%; input type="submit" value="toevoegen" name="toevoegen"> Vraag toevoegen </button>
    <button class="vraag-toevoegen" style=width:25%;background-color:#FF8300;border-color:#FF8300; input type="submit" value="beeindigen" name="beeindigen"> Quiz insturen </button>
  </div>
</form>

<script>
  var number = 4;
    function weg() {
      var weg = document.getElementById("group" + number);
        weg.remove();
        number -= 1;
        document.getElementById("getal").value = number;
      }

  $(document).ready(function() {
    $("#add").click(function() {
      var clone = $("#group" + number).clone();

      if (number == 8) {
        Alert.render("Het maximum aantal antwoordmogelijkheden is 8");
      }
      else {
        number += 1;
        clone.attr("id", "group" + number);
        clone.find("#answer" + (number - 1)).attr("placeholder", "Antwoord " + number);
        clone.find("#answer" + (number - 1)).attr("name", "answer" + number);
        clone.find("#answer" + (number - 1)).attr("id", "answer" + number);
        clone.find(".metStyle").removeAttr("style");
        clone.find(".metStyle").attr("class", "btn btn-primary");
        $("#voegToe").append(clone);
        document.getElementById("getal").value = number;
      }
    });
  });

  function preview_image(event)
  {
    var reader = new FileReader();
    reader.onload = function()
    {
    var output = document.getElementById('output_image');
    output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  }


</script>

{% endblock %}