{% extends "layout.html" %}

{% block title %}
    Vul in
{% endblock %}

{% block main %}
<h2> {{titel}} </h2>
<form action="" method="post">
{% for question in questions %}
<div class="container">
  <div class="row justify-content-center">
  <div class="card bg-light mb-3" style="width: 25rem;">
    <img class="card-img-top" src="static/Schermopname (89).png" alt="Voeg een foto toe" style="height: 22rem">
    <div class="card-body">
      <div class="form-group">
        {{question['question']}}
      </div>
    </div>
    <ul class="list-group list-group-flush">
    {% for answer in answers %}
      <li class="list-group-item form group">
        <input type="radio" class="form-control" name="answer" value= "answer1"> {{ answer['answer'] }} </input>
      </li>
    {% endfor %}
    </ul>
  </div>
  </div>
</div>
{% endfor %}
</form>

{% endblock %}