{% extends "layout.html" %}

{% block title %}
    Vul in
{% endblock %}

{% block main %}
<h2> {{titel}} </h2>
<form action="/vul_in" method="post">
{% for question in questions %}
<div class="container">
  <div class="row justify-content-center">
  <div class="card bg-light mb-3" style="width: 25rem;">
    <img class="card-img-top" src="static/Schermopname (89).png" alt="Voeg een foto toe" style="height: 22rem">
    <div class="card-body">
      <div class="form-group">
        {{question['question']}}
      </div>
    </div>
    {% for answer in answers %}
      {% if answer['question_id'] == question['question_id'] %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item form group">
            <input type="radio" class="form-control" name={{question['question_id']}} value={{answer['answer_id']}}> {{answer['answer']}} </input>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>
{% endfor %}

<div class="form-group">
  <input autocomplete="off" autofocus class="form-control" name="participantnaam" placeholder="Naam" type="text">
</div>
<button class="btn btn-primary" type="submit" name="submit_button">Stuur</button>
</form>

{% endblock %}